<!-- <form [formGroup]="myForm">
    <label for="firstName">Имя</label>
    <input type="text" id="firstName" formControlName="firstName" />
    <br/><br/>
   
    <label for="lastName">Фамилия</label>
    <input type="text" id="lastName" formControlName="lastName" />
    <br/><br/>

    <label for="patronymic">Отчество</label>
    <input type="text" id="patronymic" formControlName="patronymic" />
    <br/><br/>
    <button type="submit">отправить</button>
  </form> -->
<button on-click = 'submit()'>
</button>